<!DOCTYPE html>
<html lang="vi">
  <%-include('child/head')%>
  <body>
    <%-include('child/header')%>
    <div class="wrapper">
    
      <%-body%>
    </div>

    <%-include('child/footer')%>
  </body>
</html>

<style>
  .wrapper{
    display: block;
    margin-top: 85px !important;
    position: relative;
  }
</style>
