@charset "utf-8";


:root {
  --text-base-size: 13px;
  --text-xs: calc(var(--text-base-size) - 2px);
  --text-sm: calc(var(--text-base-size));
  --text-md: calc(var(--text-base-size) + 2px);
  --text-lg: calc(var(--text-base-size) + 4px);
  --text-xl: calc(var(--text-base-size) + 8px);
  --text-xxl: calc(var(--text-base-size) + 14px);
  --space-unit: 15px;
  --space-xs: calc(var(--space-unit) - 5px);
  --space-sm: calc(var(--space-unit) + 5px);
  --space-md: calc(var(--space-unit) + 15px);
  --space-lg: calc(var(--space-unit) + 25px);
  --space-xl: calc(var(--space-unit) + 35px);
  --primary-color: #4db7b3;
  --yellow-color: #ff9638;
  --black-color: #000000;
  --base-color2: #222222;
  --base-color: #333333;
  --base-color6: #666666;
  --base-color9: #999999;
  --base-colord: #dddddd;
  --base-color2e: #2e2e2e;
  --bg-color: #f1f1f1;
  --red-color: #ea0000;
  --default-color: #00BB00;
}

body, html {
  -webkit-text-size-adjust: 100%;
}

a, body {
  color: var(--base-color);
  outline: 0;
}

*, ol, ul {
  margin: 0;
  padding: 0;
}

html {
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  font-size: var(--text-base-size);
  font-family: "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  max-width: 1920px;
  min-width: 300px;
  margin: 0 auto;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
  position: relative;
  word-wrap: break-word;
}

a:focus, a:hover {
  color: var(--primary-color);
  text-decoration: none;
  outline: 0;
  transition: all 0.2s linear;
}

b {
  font-weight: 500;
}

strong {
  font-weight: 600;
}

p {
  margin-bottom: var(--space-xs);
}

button:focus, input:focus, select:focus {
  outline: 0;
}

input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], select, textarea {
  width: 100%;
  margin: 0;
  box-shadow: none;
}

.form-control::placeholder {
  color: var(--base-color);
}

ol li, ul li {
  list-style: none;
}

hr {
  margin: var(--space-lg) 0;
  border-color: var(--border-color);
}

img {
  max-width: 100%;
  height: auto;
}

/* Table  ---------------------------------------------------- */

table tr th {
  font-weight: normal;
}

.row:before, .row:after {
  width: 0px;
  height: 0px;
}

.block-editor-content img, .block-editor-content iframe {
  max-width: 100% !important;
  height: auto !important;
  margin-bottom: 10px;
  margin-top: 10px;
}

.block-editor-content iframe {
  width: 100% !important;
  min-height: 400px !important;
}

.block-editor-content ol, .block-editor-content ul {
  margin-bottom: var(--space-sm);
  padding-left: var(--space-sm);
}

.block-editor-content ol li, .block-editor-content ul li {
  list-style: inherit;
}

.block-editor-content table {
  max-width: 100% !important;
  width: 100% !important;
}

.block-editor-content table td, .block-editor-content table th {
  padding: 5px;
  text-align: justify;
}

.text-xs, .text-sm, .text-md, .text-lg, .text-xl, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}

.text-xxl {
  font-size: var(--text-xxl);
}

.text-xl, h1 {
  font-size: var(--text-xl);
}

.text-lg, h2 {
  font-size: var(--text-lg);
}

.text-md, h3 {
  font-size: var(--text-md);
}

.text-sm, h4 {
  font-size: var(--text-sm);
}

.text-xs, h5, h6 {
  font-size: var(--text-xs);
}

/*Hidden line*/

.line-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.line-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.line-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.line-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.line-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*MARIGN*/

.mt-10, .my-10 {
  margin-top: 10px;
}

.mb-10, .my-10 {
  margin-bottom: 10px;
}

.ml-10, .mx-10 {
  margin-left: 10px;
}

.mr-10, .mx-10 {
  margin-right: 10px;
}

.mt-15, .my-15 {
  margin-top: 15px;
}

.mb-15, .my-15 {
  margin-bottom: 15px;
}

.ml-15, .mx-15 {
  margin-left: 15px;
}

.mr-15, .mx-15 {
  margin-right: 15px;
}

.mt-20, .my-20 {
  margin-top: 20px;
}

.mb-20, .my-20 {
  margin-bottom: 20px;
}

.ml-20, .mx-20 {
  margin-left: 20px;
}

.mr-20, .mx-20 {
  margin-right: 20px;
}

.mt-30, .my-30 {
  margin-top: 30px;
}

.mb-30, .my-30 {
  margin-bottom: 30px;
}

.ml-30, .mx-30 {
  margin-left: 30px;
}

.mr-30, .mx-30 {
  margin-right: 30px;
}

.mt-40, .my-40 {
  margin-top: 40px;
}

.mb-40, .my-40 {
  margin-bottom: 40px;
}

.ml-40, .mx-40 {
  margin-left: 40px;
}

.mr-40, .mx-40 {
  margin-right: 40px;
}

/*PADDING*/

.pt-10, .py-10 {
  padding-top: 10px;
}

.pb-10, .py-10 {
  padding-bottom: 10px;
}

.pl-10, .px-10 {
  padding-left: 10px;
}

.pr-10, .px-10 {
  padding-right: 10px;
}

.pt-15, .py-15 {
  padding-top: 15px;
}

.pb-15, .py-15 {
  padding-bottom: 15px;
}

.pl-15, .px-15 {
  padding-left: 15px;
}

.pr-15, .px-15 {
  padding-right: 15px;
}

.pt-20, .py-20 {
  padding-top: 20px;
}

.pb-20, .py-20 {
  padding-bottom: 20px;
}

.pl-20, .px-20 {
  padding-left: 20px;
}

.pr-20, .px-20 {
  padding-right: 20px;
}

.pt-30, .py-30 {
  padding-top: 30px;
}

.pb-30, .py-30 {
  padding-bottom: 30px;
}

.pl-30, .px-30 {
  padding-left: 30px;
}

.pr-30, .px-30 {
  padding-right: 30px;
}

.pt-40, .py-40 {
  padding-top: 40px;
}

.pb-40, .py-40 {
  padding-bottom: 40px;
}

.pl-40, .px-40 {
  padding-left: 40px;
}

.pr-40, .px-40 {
  padding-right: 40px;
}

/*Border*/

.no-border {
  border: none !important;
}

/*BG img*/

.bg-img {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-default {
  background: var(--default-color);
}

/*Menu*/

body.modal-open .mm-slideout {
  z-index: inherit;
}



/*Breadcrumb*/

.block-breadcrumb .breadcrumb {
  background: transparent;
  padding: 0;
  margin-bottom: 0;
}

.block-breadcrumb .breadcrumb li a {
  color: var(--base-color9);
}

.block-breadcrumb .breadcrumb li a:hover, .block-breadcrumb .breadcrumb li.active {
  color: var(--primary-color);
}

.block-breadcrumb .breadcrumb li:before {
  content: "/";
  margin-right: 10px;
  margin-left: 10px;
  color: var(--base-color9);
}

.block-breadcrumb .breadcrumb li:first-child::before {
  display: none;
}

/*PAGINATION*/

.box-pagination .pagination li a {
  border: 1px solid var(--base-color9);
  width: 34px;
  height: 34px;
  display: block;
  border-radius: 5px;
  line-height: 32px;
  text-align: center;
  margin-right: 10px;
  color: var(--red-color);
  font-weight: bold;
}

.box-pagination .pagination li:last-child a {
  margin-right: 0;
}

.box-pagination .pagination li a.active {
  color: var(--white);
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
}

/*MENU*/

nav.menu-top .nav-menu {
  font-size: var(--text-sm);
}

nav.menu-top .nav-menu>li {
  padding: 25px 0;
}

nav.menu-top .nav-menu>li.active, nav.menu-top .nav-menu>li:hover {
  background-color: var(--default-color);
}

nav.menu-top .nav-menu>li.active a, nav.menu-top .nav-menu>li:hover a {
  color: var(--white);
}

nav.menu-top .nav-menu>li>a {
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s linear;
  display: block;
  position: relative;
  margin: 0 20px;
  line-height: 1.4;
  font-weight: 500;
  color: var(--black-color);
  font-size: var(--text-md);
}

nav.menu-top .nav-menu .submenu {
  position: absolute;
  top: 100%;
  width: 100%;
  transition: 0.3s;
  opacity: 0;
  z-index: 99;
  visibility: hidden;
  transform: translate(0, 10px);
  left: 0;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

nav.menu-top .nav-menu .submenu li {
  display: block;
  position: relative;
  text-align: left;
}

nav.menu-top .nav-menu>li.parent:hover>a {
  position: relative;
}

nav.menu-top .nav-menu>li.parent:hover>a:before {
  bottom: -35px;
  position: absolute;
  left: 50%;
  display: inline-block;
  border-right: 8px solid transparent;
  border-bottom: 12px solid #ededeb;
  border-left: 8px solid transparent;
  border-bottom-color: #ededeb;
  content: "";
  transform: translateX(-50%);
}

nav.menu-top .nav-menu>li.parent>a:after {
  content: "\f0dd";
  font-family: "Fontawesome";
  position: absolute;
  top: -1px;
  right: -12px;
  font-size: var(--text-xs);
}

nav.menu-top .nav-menu .submenu li a {
  display: block;
  margin: 10px;
  position: relative;
  transition: all 0.35s ease;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

nav.menu-top .nav-menu .submenu li a span {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  text-align: center;
  background: var(--base-color9);
}

nav.menu-top .nav-menu .submenu .submenu {
  left: 100%;
  top: 0;
}

nav.menu-top .nav-menu>li.active a, nav.menu-top .nav-menu>li:hover>a {
  transition: all 0.45s ease;
}

nav.menu-top .nav-menu .submenu li:hover .submenu, nav.menu-top .nav-menu>li:hover>.submenu {
  visibility: visible;
  transform: translate(0, 0);
  transition: 0.3s;
  opacity: 1;
}

nav.menu-top .nav-menu li>.submenu>li:hover>a, .nav-menu li>.submenu .submenu>li:hover>a, nav.menu-top .nav-menu li>.submenu>li:hover>a span {
  color: var(--white);
  background: var(--primary-color);
}

.fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
  -webkit-animation-duration: 0.8s;
  -moz-animation-duration: 0.8s;
  -o-animation-duration: 0.8s;
  animation-duration: 0.8s;
  background-color: var(--white);
}

/*Scroll top*/

.td-scroll-up {
  cursor: pointer;
  position: fixed;
  bottom: 100px;
  right: 10px;
  width: 44px;
  height: 44px;
  z-index: 1;
  transform: translate3d(0, 70px, 0);
  -webkit-transform: translate3d(0, 70px, 0);
  -moz-transform: translate3d(0, 70px, 0);
  -ms-transform: translate3d(0, 70px, 0);
  -o-transform: translate3d(0, 70px, 0);
  -webkit-transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1) 0s;
  -moz-transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1) 0s;
  -o-transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1) 0s;
  transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1) 0s;
}

.td-scroll-up img:hover {
  opacity: 0.7;
}

.td-scroll-up-visible {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
}

.td-scroll-up:hover {
  color: var(--white);
  background: var(--primary-color);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/*ALERT*/

.mess .ok {
  background: var(--success);
  padding: 5px 5px 1px 5px;
  margin-bottom: 5px;
  text-align: center;
  display: block;
}

.mess .error {
  background: var(--primary-color);
  padding: 5px 5px 1px 5px;
  margin-bottom: 5px;
  text-align: center;
  display: block;
  color: var(--red-color);
}


/* redo define */
.error_div{
  background: var(--primary-color);
  padding: 5px 5px 1px 5px;
  margin-bottom: 5px;
  text-align: center;
}

.error_msg{
  color: var(--red-color);
  font-size: var(--text-base-size);
}

/* end redo define */

.repon {
  position: absolute;
  bottom: -18px;
  left: 0;
  font-size: var(--text-xs);
}

.repon.ok {
  color: var(--success);
}

.repon.error {
  color: var(--red-color);
}

/*EDITOR CONTENT*/

.block-editor-content ol, .block-editor-content ul {
  margin-bottom: 15px;
  padding-left: var(--space-sm);
  margin-left: 15px;
  margin-top: 10px;
}

.block-editor-content ol li, .block-editor-content ul li {
  list-style: inherit;
  margin-bottom: 3px;
}

.block-editor-content h1, .block-editor-content h2, .block-editor-content h3, .block-editor-content h4 {
  margin-bottom: 10px;
  margin-top: 15px;
  font-weight: 600;
}

.primary-color {
  color: var(--primary-color);
}

.yellow-color {
  color: var(--yellow-color);
}

.bg-primary-color {
  background-color: var(--primary-color);
}

.bg-yellow {
  background-color: var(--yellow-color);
}

.bg-color3 {
  background-color: var(--base-color);
}

.bg-color {
  background-color: var(--bg-color);
}

.max-960 {
  max-width: 960px;
  margin: auto;
}

.max-720 {
  max-width: 720px;
  margin: auto;
}

.max-560 {
  max-width: 560px;
  margin: auto;
}

.w150 {
  width: 150px !important;
}

/* MEDIA */

@media (min-width: 1200px) {
  .container {
    max-width: 1180px;
  }
}

@media (max-width: 1199.98px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .col-20 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}

@media (max-width: 767.98px) {
  .block-breadcrumb .breadcrumb li.active {
    display: none;
  }
  .block-breadcrumb .breadcrumb li.active:before {
    display: none;
  }
}