<div class="row">
    <div class="col-sm-2">
        <input type="text" placeholder="Mã nhóm" id="txtPOCode" class="form-control">
    </div>
    <div class="col-sm-8">
        <input type="text" placeholder="Nghề nghiệp" id="txtPOName" class="form-control">
    </div>
    <div class="col-sm-2">
        <button class="btn btn-success" id="btnAddNew">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Create
        </button>
    </div>
</div>

<table class="table table-dark mt-2">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Mã nhóm</th>
            <th scope="col">Nghề nghiệp</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody id="tblContent"></tbody>
</table>

<script>
    $(document).ready(function () {
        LoadPiorityObjects();
    })
    $(document).on("click", "button[name='delete']", function () {
        let poId = $(this).closest("tr").attr("id");
        let poName = $(this).closest("tr").data("name");
        var r = confirm(
            "Bạn thực sự muốn xóa đối tượng ưu tiên " + poName + "?"
        );
        if (r) {
            $.ajax({
                url: '/admin/doi-tuong-uu-tien',
                type: 'delete',
                headers: {
                    Authorization: "Covid-19 " + getACCESS_TOKEN()
                },
                data: {
                    poId
                },
                success: function (data) {
                    alert(data.msg);
                    LoadPiorityObjects();
                }, error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseJSON.msg);
                },
            })
        }
    })

    $('#btnAddNew').click(function () {
        let code = $('#txtPOCode').val().trim();
        let name = $('#txtPOName').val().trim();
        if (code.length == 0 || name.length == 0) {
            alert('Vui lòng nhập đầy đủ mã nhóm và nghề nghiệp!!');
            return;
        }

        $.ajax({
            url: '/admin/doi-tuong-uu-tien',
            type: 'post',
            headers: {
                Authorization: "Covid-19 " + getACCESS_TOKEN()
            },
            data: {
                code,
                name
            },
            success: function (data) {
                alert(data.msg);
                LoadPiorityObjects();
                $('#txtPOCode').val('');
                $('#txtPOName').val('');
            }, error: function (jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseJSON.msg);
            },
        })
    })

    function LoadPiorityObjects() {
        $.ajax({
            url: '/admin/doi-tuong-uu-tien/list',
            type: 'get',
            headers: {
                Authorization: "Covid-19 " + getACCESS_TOKEN()
            },
            success: function (data) {
                $('#tblContent').empty();
                let idx = 1;
                data.pos.forEach(p => {
                    let tr = '<tr id = "' + p._id + '" data-name="' + p.name + '">';
                    tr += '<td>' + (idx++) + '</td>';
                    tr += '<td>' + p.code + '</td>';
                    tr += '<td class="font-weight-bold text-info">' + p.name + '</td>';
                    tr += '<td class="text-right">';
                    tr += '<button  name = "delete" class = "btn btn-sm btn-danger ml-2"><i class="fa fa-trash" aria-hidden="true"></i></button>';
                    tr += '</td>';
                    tr += '</tr>';
                    $('#tblContent').append(tr);
                })
            }, error: function (jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseJSON.msg);
            },
        })
    }
</script>