<div class="row">
  <div class="col-sm-2">
    <button class="btn btn-success" id="btnAddNew">
      <i class="fa fa-plus" aria-hidden="true"></i>
      Thêm mới
    </button>
  </div>

  <!-- phần tìm kiếm -->
  <div class="offset-sm-4 col-sm-4">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Keyword ..." id="txtSearch" />
      <div class="input-group-btn">
        <button class="btn btn-dark" id="btnSearch">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
  <!-- kết thúc phần tìm kiếm -->
  <div class="col-sm-2">
    <button class="btn btn-info" id="btnExportExcel">
      <i class="fa fa-file-excel-o" aria-hidden="true"></i>
      Xuất Excel
    </button>
  </div>
</div>
<div class="table-responsive" id="data_center">

  <table class="table table-bordered mt-20">
    <thead class="bg-info text-white text-white ">
      <tr>
        <th rowspan="2" class="align-middle font-weight-bold text-center">STT</th>
        <th rowspan="2" class="align-middle font-weight-bold text-center"></th>
        <th rowspan="2" class="align-middle font-weight-bold text-center">Họ và tên</th>
        <th rowspan="2" class="align-middle font-weight-bold text-center">Giới tính</th>
        <th rowspan="2" class="align-middle font-weight-bold text-center">Ngày sinh</th>
        <th rowspan="2" class="align-middle font-weight-bold text-center">Đối tượng ưu tiên</th>
        <th rowspan="2" class="align-middle font-weight-bold text-center">Đơn vị công tác</th>
        <th rowspan="2" class="align-middle font-weight-bold text-center">Số điện thoại</th>
        <th rowspan="2" class="align-middle font-weight-bold text-center">CMND/CCCD</th>
        <th rowspan="2" class="align-middle font-weight-bold text-center">Số thẻ BHYT</th>
        <th colspan="4" class="align-middle font-weight-bold text-center">Địa chỉ hộ khẩu</th>
        <th rowspan="2" class="align-middle font-weight-bold text-center">Người nhập</th>
        <th rowspan="2" class="align-middle font-weight-bold text-center"></th>
      </tr>
      <tr>
        <th class="text-center">Chi tiết</th>
        <th class="text-center">Xã/Phường/Thị trấn</th>
        <th class="text-center">Quận/huyện</th>
        <th class="text-center">Tỉnh/ thành phố</th>    
      </tr>

    </thead>
    <tbody id="tblData">

    </tbody>
  </table>
</div>


<script src="../../dist/date-picker/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="../../dist/date-picker/css/bootstrap-datepicker.css">
<script type="text/javascript" src="//unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
<%-include('modal_vaccination')%>
<%-include('modal_set_vaccination')%>


    <script>
      var search = "";
      var cvId = "";
      $(document).ready(function () {
        LoadCV();
      })

      $('#btnImportExcel').click(function(){
        $('#modalImport').modal();
      })


     
      $('#modalVaccination').on('shown.bs.modal', function (e) {
        $('#txtFullname').val('');
        $('#txtDOB').val('');
        $('#txtEmail').val('');
        $('#txtPhone').val('');
        $('#txtIDNumber').val('');
        $('#txtHINo').val('');
        $('#txtDetailAddress').val('');
        $('#txtRemark').val('');
      });

    
      $(document).on("click", "button[name='update']", function () {
        cvId = $(this).closest("tr").attr("id");
        $.ajax({
          url: '/danh-sach-tiem-phong-covid-19/detail',
          type: 'get',
          headers: {
            Authorization: "Covid-19 " + getACCESS_TOKEN()
          },
          data: {
            cvId
          },
          success: function (data) {           
            $('#modalVaccination').modal();
            $('#txtFullname').val(UppercaseEachFirstLetter(data.cv.fullname));
            $('#txtDOB').val(data.cv.dob);
            $('#txtEmail').val(data.cv.email);
            $('#txtPhone').val(data.cv.phone);
            $('#txtIDNumber').val(data.cv.id_number);
            $('#txtHINo').val(data.cv.hi_no);
            $('#txtDetailAddress').val(data.cv.detail_address);
            $('#txtRemark').val(data.cv.remark);
            $('#txtDate1').val(data.cv.date1);
            $('#txtDate2').val(data.cv.date2);
            $('#txtNo1').val(data.cv.no1);
            $('#txtNo2').val(data.cv.no2);
            $('#slNationality').val(data.cv.nationality_id);
            $('#slProvince').val(data.cv.prov_id);
            $('#slDistrict').val(data.cv.dist_id);
            LoadWard();
            $('#slWard').val(data.cv.ward_id);
            $('#slNation').val(data.cv.nation_id);
            $('#slPO').val(data.cv.po_id);
            $('#slJob').val(data.cv.job_id);
            $('#slHF').val(data.cv.hf_id);
            $('#slVaccin1').val(data.cv.vaccin1);
            $('#slVaccin2').val(data.cv.vaccin2);
            if (data.cv.gender == 1) {
              $('#rbtMale').prop('checked', true);
            } else {
              if (data.cv.gender == 2) {
                $('#rbtFemale').prop('checked', true);
              } else {
                $('#rbtOther').prop('checked', true);
              }
            }
          },
          error: function (jqXHR, textStatus, errorThrown) {
            alert(jqXHR.responseJSON.msg);
          },
        })
      })
      $(document).on("click", "button[name='delete']", function () {
        cvId = $(this).closest("tr").attr("id");
        let cvName = $(this).closest("tr").data("name");
        var r = confirm(
          "Bạn thực sự muốn xóa hồ sơ của " + cvName + "?"
        );
        if (r) {
          $.ajax({
            url: '/danh-sach-tiem-phong-covid-19',
            type: 'delete',
            headers: {
              Authorization: "Covid-19 " + getACCESS_TOKEN()
            },
            data: {
              cvId
            },
            success: function (data) {
              alert(data.msg);
              LoadCV();
            },
            error: function (jqXHR, textStatus, errorThrown) {
              alert(jqXHR.responseJSON.msg);
            },
          })
        }
      })
    
    $(document).on('click','button[name="btnSetCV"]',function(){
        let   cvId = $(this).closest("tr").attr("id");
        $('#modalSetVaccination').modal();
    })
    
    
    
    
    
    
      $('#btnAddNew').click(function () {
        cvId = "";
        $('#modalVaccination').modal();
      })


      $("#modalVaccination").on("hidden.bs.modal", function () {
        LoadCV();
      });


     


      $('#btnSearch').click(function () {
        search = $('#txtSearch').val();
        LoadCV();
      })


      function LoadCV() {
        $.ajax({
          url: '/danh-sach-tiem-phong-covid-19/list',
          type: 'get',
          headers: {
            Authorization: "Covid-19 " + getACCESS_TOKEN()
          },
          data: {
            search
          },
          success: function (data) {
            let idx = 1;
            $('#tblData').empty();
            data.cv.forEach(c => {
              let tr = '<tr id="' + c._id + '" data-name="' + UppercaseEachFirstLetter(c.fullname) + '">';             
              tr += '<td class="text-nowrap text-right">' + (idx < 10 ? '0' + (idx++) : (idx++)) + '</td>';
              tr += '<td class="text-nowrap text-right"><button  name = "btnSetCV" class = "btn btn-sm btn-success ml-2"><i class="fa fa-check" aria-hidden="true"></i>Tiêm phòng</button></td>';
              tr += '<td class="text-nowrap">' + UppercaseEachFirstLetter(c.fullname) + '</td>';
              tr += '<td class="text-nowrap">'+(c.gender == 1 ? 'Nam' : 'Nữ')+'</td>';
              tr += '<td class="text-nowrap">' + c.dob + '</td>';
              tr += '<td class="text-nowrap">' + ((typeof c.po_id=='undefined' || c.po_id==null)?'': c.po_id.name) + '</td>';
              tr += '<td class="text-nowrap">' + c.work_place + '</td>';
              tr += '<td class="text-nowrap">' + c. phone + '</td>';
              tr += '<td class="text-nowrap">' + c.id_number + '</td>';
              tr += '<td class="text-nowrap">' + c.hi_no + '</td>';
              tr += '<td class="text-nowrap">' + c.detail_address + '</td>';
              tr += '<td class="text-nowrap">' + c.ward.name + '</td>';
              tr += '<td class="text-nowrap">' + c.dist.name + '</td>';
              tr += '<td class="text-nowrap">' + c.prov.name + '</td>';
             
              tr += '<td class="text-nowrap">' + UppercaseEachFirstLetter(c.created_by.fullname) + '</td>';           
              tr += '<td class="text-right text-nowrap">';
             
              tr += '<button  name = "btnUpdateCV" class = "btn btn-sm btn-warning ml-2"><i class="fa fa-refresh" aria-hidden="true"></i></button>';
              tr += '<button  name = "btnDeleteCV" class = "btn btn-sm btn-danger ml-2"><i class="fa fa-trash" aria-hidden="true"></i></button>';
             
              tr += '</td>';
              tr += '</tr>';
              $('#tblData').append(tr);
            })
          }, error: function (jqXHR, textStatus, errorThrown) {
            alert(jqXHR.responseJSON.msg);
          },
        })
      }
    </script>

