<div class="modal" tabindex="-1" role="dialog" id="modalSetVaccination">
    <div class="modal-dialog" role="document">
        <div class="modal-content"> 
            <div class="modal-body container">

                <div class="card text-white bg-info mb-3">
                    <div class="card-header">Thông tin cơ bản</div>
                    <div class="card-body">
                        <div class="row">
                            <label class="col-sm-4">Họ tên:</label>
                            <label class="col-sm-8 font-weight-bold">Trần Như Nhộng</label>
                        </div>
                        <div class="row">
                            <label class="col-sm-4">Ngày sinh:</label>
                            <label class="col-sm-8 font-weight-bold">01/01/1999</label>
                        </div>
                        <div class=" row">
                            <label class="col-sm-4">Số điện thoại:</label>
                            <label class="col-sm-8 font-weight-bold">0911397764</label>
                        </div>
                        <div class="row">
                            <label class="col-sm-4">CMND/CCCD:</label>
                            <label class="col-sm-8 font-weight-bold">230752538</label>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label for="exampleInputEmail1">Loại vaccin</label>
                    <select name="slVaccin" id="slVaccin" class="form-control">
                        <option value="1">ABC XYZ</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label for="exampleInputEmail1">Số lô:</label>
                    <input type="email" class="form-control" id="txtNo">
                    
                  </div>


            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-info" id="btnSubmitCV">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    Xác nhận tiêm
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
            </div>
            </form>

        </div>
    </div>
</div>