<script type='text/javascript'
    src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>

<style>
    #tblSearchedObject {
        max-height: 150px !important;
        overflow: scroll;
        display: block;
    }
</style>

<div class="modal" tabindex="-1" role="dialog" id="modalVaccination">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body container">

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Họ tên, số điện thoại, CMND/CCCD"
                        id="txtSearchObject" />
                    <div class="input-group-btn">
                        <button class="btn btn-dark" id="btnSearchObject">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>


                <div class="table-responsive" id="tblSearch">

                    <table class="table table-bordered mt-20" id="tblSearchedObject">
                        <thead class="bg-info text-white text-white ">
                            <tr>
                                <th rowspan="2" class="align-middle font-weight-bold text-center">Họ và tên</th>
                                <th rowspan="2" class="align-middle font-weight-bold text-center">Ngày sinh</th>
                                <th rowspan="2" class="align-middle font-weight-bold text-center">CMNC/CCCD</th>
                                <th rowspan="2" class="align-middle font-weight-bold text-center">Điện thoại</th>
                                <th rowspan="2" class="align-middle font-weight-bold text-center">Mũi 1</th>
                                <th rowspan="2" class="align-middle font-weight-bold text-center">Ngày tiêm</th>
                                <th rowspan="2" class="align-middle font-weight-bold text-center"></th>
                            </tr>
                        </thead>
                        <tbody id="tblObjectsData">

                        </tbody>
                    </table>
                </div>



                <div class="row mt-20">
                    <div class="col-sm-4 form-group">
                        <label class="text-info">Họ tên:</label>
                        <input type="text" name="" id="txtFullname" class="form-control">
                    </div>
                    <div class="col-sm-4 form-group">
                        <label class="text-info">Giới tính:</label>
                        <div class="mt-2">
                            <label class="radio-inline text-info">
                                <input type="radio" name="optradio" id="rbtMale" checked> Nam
                            </label>
                            <label class="radio-inline ml-2 text-primary">
                                <input type="radio" name="optradio" id="rbtFemale"> Nữ
                            </label>
                        </div>
                    </div>

                    <div class="col-sm-4 form-group">
                        <label class="text-info">Ngày sinh (<span class="text-danger">dd/mm/yyyy</span>):</label>
                        <input class="form-control" data-inputmask="'alias': 'date','placeholder': '_'" id="txtDOB">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label class="text-info">Đối tương Ư.T:</label>
                        <select name="" id="slPO" class="form-control"></select>
                    </div>
                    <div class="col-sm-8">
                        <label class="text-info">Đơn vị công tác</label>
                        <input type="text" placeholder="Đơn vị công tác" id="txtWorkPlace" class="form-control">
                    </div>
                </div>

                <div class="row mt-1">
                    <div class="col-sm-4 form-group">
                        <label class="text-info">Điện thoại(<span class="text-danger">*</span>):</label>
                        <input type="text" name="" id="txtPhone" class="form-control">
                    </div>
                    <div class="col-sm-4 form-group">
                        <label class="text-info">CMND/CCCD (<span class="text-danger">*</span>):</label>
                        <input type="text" name="" id="txtIDNumber" class="form-control">
                    </div>
                    <div class="col-sm-4 form-group">
                        <label class="text-info">Thẻ BHYT:</label>
                        <input type="text" name="" id="txtHINo" class="form-control">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label class="text-info">Tỉnh thành:</label>
                        <select name="" id="slProvince" class="form-control"></select>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label class="text-info">Quân/huyện:</label>
                        <select name="" id="slDistrict" class="form-control"></select>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label class="text-info">Xã/phường/thị trấn:</label>
                        <select name="" id="slWard" class="form-control"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label class="text-info">Địa chỉ chi tiết:</label>
                        <input type="text" name="" id="txtDetailAddress" class="form-control">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label class="text-info">Ngày tiêm (<span class="text-danger">dd/mm/yyyy</span>):</label>
                        <input class="form-control" data-inputmask="'alias': 'date','placeholder': '_'" id="txtDate">
                    </div>
                    <div class="col-sm-8 form-group">
                        <label class="text-info">CSYT Tiêm:</label>
                        <select name="" id="slHF" class="form-control"></select>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btnSubmit">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    Tạo mới hồ sơ
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
            </div>
            </form>

        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        LoadProvinces();
        LoadPO();
        LoadHF();
        LoadVaccin();


        var d = new Date();

        var month = d.getMonth() + 1;
        var day = d.getDate();


        let date = (day < 10 ? '0' : '') + day + '/' + (month < 10 ? '0' : '') + month + '/' + d.getFullYear();
        $('#txtDate').val(date);
    })

    $(":input").inputmask();





    $('#modalVaccination').on('shown.bs.modal', function (e) {
        $('#tblSearch').hide();
    })


    $(document).on("click", "button[name='btnChooseObject']", function () {
        cvId = $(this).closest("tr").attr('id');
        $.ajax({
            url: '/danh-sach-tiem-phong-covid-19/detail',
            type: 'get',
            headers: {
                Authorization: "Covid-19 " + getACCESS_TOKEN()
            },
            data: {
                cvId: cvId
            },
            success: function (data) {
                $('#tblSearch').hide(500);
                let cv = data.cv;
                $('#txtFullname').val(cv.fullname);
                $('#txtDOB').val(cv.dob);
                $('#txtWorkPlace').val(cv.work_place);
                $('#txtPhone').val(cv.phone);
                $('#txtIDNumber').val(cv.id_number);
                $('#txtHINo').val(cv.hi_no);
                $('#slProvince').val(cv.prov);
                LoadDistrict();
                $('#slDistrict').val(cv.dist);
                LoadWard();
                $('#slWard').val(cv.ward);
                $('#txtDetailAddress').val(cv.detail_address);
            }
        })


    })



    $('#btnSearchObject').click(function () {
        if ($('#txtSearchObject').val().trim().length > 0) {
            $.ajax({
                url: '/danh-sach-tiem-phong-covid-19/search',
                type: 'get',
                headers: {
                    Authorization: "Covid-19 " + getACCESS_TOKEN()
                },
                data: {
                    search: $('#txtSearchObject').val()
                },
                success: function (data) {
                    if (data.cv.length > 0) {
                        $('#tblSearch').show(500);
                    }
                    $('#tblObjectsData').empty();
                    data.cv.forEach(c => {
                        let tr = '<tr id = "' + c._id + '">';
                        tr += '<td class="fullname">' + c.fullname + '</td>';
                        tr += '<td class="dob">' + c.dob + '</td>';
                        tr += '<td class="id_number">' + c.id_number + '</td>';
                        tr += '<td class="phone">' + c.phone + '</td>';
                        tr += '<td class="vaccin1">' + c.vaccin1 + '</td>';
                        tr += '<td class="date1">' + c.date1 + '</td>';
                        tr += '<td><button class="btn btn-sm btn-info btnChooseObject" name="btnChooseObject"><i class="fa fa-plus" aria-hidden="true"></i></button></td>';
                        tr += '</tr>';

                        $('#tblObjectsData').append(tr);
                    })
                }
            })
        }

    })






    function LoadProvinces() {
        $.ajax({
            url: '/province',
            type: 'get',
            headers: {
                Authorization: "Covid-19 " + getACCESS_TOKEN()
            },
            success: function (data) {
                $('#slProvince').empty();
                data.provinces.forEach(p => {
                    let opt = new Option(p.name, p._id);
                    $('#slProvince').append(opt);
                })
                LoadDistrict();
            }
        })
    }



    $('#btnSubmit').click(function () {
        let fullname = $('#txtFullname').val().trim();
        let gender = $('#rbtMale').is(':checked') ? 1 : $('#rbtFemale').is(':checked') ? 2 : 0;
        let dob = $('#txtDOB').val().trim();

        let po = $('#slPO option:selected').val().trim();
        let work_place = $('#txtWorkPlace').val();
        let phone = $('#txtPhone').val().trim();
        let id_number = $('#txtIDNumber').val().trim();
        let hi_no = $('#txtHINo').val().trim();
        let province = $('#slProvince option:selected').val().trim();
        let district = $('#slDistrict option:selected').val().trim();
        let ward = $('#slWard option:selected').val().trim();
        let detail_address = $('#txtDetailAddress').val().trim();
        let hf = $('#slHF option:selected').val().trim();
        let date = $('#txtDate').val().trim();





        //data validation

        if (fullname.length == 0) {
            alert('Vui lòng nhập họ tên!');
            return;
        }


        if (dob.length == 0 || !IsDate(dob)) {
            alert('Dữ liệu ngày sinh không hợp lệ!');
            return;
        }

        if (phone.length != 10) {
            alert('Số điện thoại không hợp lệ. SĐT tối thiểu là 10 số');
            return;
        }
        if (phone.substr(0, 1) != '0') {
            alert('Số điện thoại không hợp lệ. SĐT phải bắt đầu bằng số 0');
            return;
        }

        if (!(id_number.length == 8 || id_number.length == 9 || id_number.length == 12)) {
            alert('Dữ liệu CMND/CCCD không hợp lệ. Độ dài phải là 8 hoặc 9 hoặc 12 kí tự!');
            return;
        }

        if (hi_no.length != 0 & !(hi_no.length == 10 || hi_no.length == 15)) {
            alert('Dữ liệu thẻ BHYT không hợp lệ. BHYT phải là 10 hoặc 15 kí tự!');
            return;
        }

        if ((date.length != 0 && date.length != 10) || (date.length == 10 && !isDate(date))) {
            alert('Dữ liệu ngày tiêm lần 1 không hợp lệ!');
            return;
        }



        $.ajax({
            url: '/danh-sach-tiem-phong-covid-19',
            type: 'post',
            headers: {
                Authorization: "Covid-19 " + getACCESS_TOKEN()
            },
            data: { cvId, fullname, gender, dob, po, work_place, phone, id_number, hi_no, province, district, ward, detail_address, hf, date },
            success: function (data) {
                alert(data.msg);                
            }
        })
        cvId='';

    })





















    function LoadVaccin() {
        $.ajax({
            url: '/danh-sach-tiem-phong-covid-19/vaccin',
            type: 'get',
            headers: {
                Authorization: "Covid-19 " + getACCESS_TOKEN()
            },
            success: function (data) {
                $('.vaccin').empty();
                data.vc.forEach(v => {
                    let opt = '<option value="' + v._id + '">' + v.name + '</option>';
                    $('.vaccin').append(opt);
                })
            }, error: function (jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseJSON.msg);
            },
        })
    }


    function LoadHF() {
        $.ajax({
            url: '/danh-sach-tiem-phong-covid-19/hf',
            type: 'get',
            headers: {
                Authorization: "Covid-19 " + getACCESS_TOKEN()
            },
            success: function (data) {
                $('#slHF').empty();
                data.hf.forEach(h => {
                    let opt = '<option value="' + h._id + '">' + h.name + '</option>';
                    $('#slHF').append(opt);
                })
            }, error: function (jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseJSON.msg);
            },
        })
    }





    $('#slDistrict').on('change', function (e) {
        LoadWard();
    });

    $('#slProvince').on('change', function (e) {
        LoadDistrict();
    });



    function LoadWard() {
        $.ajax({
            url: '/ward',
            type: 'get',
            headers: {
                Authorization: "Covid-19 " + getACCESS_TOKEN()
            },
            data: {
                distId: $('#slDistrict option:selected').val()
            },
            success: function (data) {
                $('#slWard').empty();
                data.wards.forEach(w => {
                    let opt = '<option value="' + w._id + '">' + w.name + '</option>';
                    $('#slWard').append(opt);
                })
            }, error: function (jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseJSON.msg);
            },
        })
    }

    function LoadDistrict() {
        $.ajax({
            url: '/district',
            type: 'get',
            headers: {
                Authorization: "Covid-19 " + getACCESS_TOKEN()
            },
            data: {
                provId: $('#slProvince option:selected').val()
            },
            success: function (data) {
                $('#slDistrict').empty();
                data.districts.forEach(d => {
                    let opt = '<option value="' + d._id + '">' + d.name + '</option>';
                    $('#slDistrict').append(opt);
                })
                LoadWard();
            }, error: function (jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseJSON.msg);
            },
        })
    }








    function LoadPO() {
        $.ajax({
            url: '/danh-sach-tiem-phong-covid-19/po',
            type: 'get',
            headers: {
                Authorization: "Covid-19 " + getACCESS_TOKEN()
            },
            success: function (data) {
                $('#slPO').empty();
                data.po.forEach(p => {
                    let opt = '<option value="' + p._id + '">' + p.code + ' - ' + p.name + '</option>';
                    $('#slPO').append(opt);
                })
            }, error: function (jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseJSON.msg);
            },
        })
    }
</script>