<div class="modal" tabindex="-1" role="dialog" id="modalSetVaccination">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body container">


                <div class="card text-white bg-info mb-3">
                    <div class="card-header">Thông tin cơ bản</div>
                    <div class="card-body">
                        <div class="row">
                            <label class="col-sm-4">Họ tên:</label>
                            <label class="col-sm-8 font-weight-bold" id="lblFullname">Trần Như Nhộng</label>
                        </div>
                        <div class="row">
                            <label class="col-sm-4">Ngày sinh:</label>
                            <label class="col-sm-8 font-weight-bold" id="lblDob">01/01/1999</label>
                        </div>
                        <div class=" row">
                            <label class="col-sm-4">Số điện thoại:</label>
                            <label class="col-sm-8 font-weight-bold" id="lblPhone">0911397764</label>
                        </div>
                        <div class="row">
                            <label class="col-sm-4">CMND/CCCD:</label>
                            <label class="col-sm-8 font-weight-bold" id="lblIdNo">230752538</label>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group">
                            <label for="">Loại vaccin</label>
                            <select name="slVaccin" id="slVaccin" class="form-control">
                            </select>
                        </div>

                        <div class="row">
                            <label class="col-sm-4 mt-2">Số lô:</label>
                            <input class="form-control col-sm-6" id="txtNo">

                        </div>

                    </div>


                </div>




            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-info" id="btnSubmitCV">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    Xác nhận tiêm
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
            </div>
            </form>

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
              LoadVaccin();
    })


    function LoadVaccin() {
        $.ajax({
            url: '/danh-sach-tiem-phong-covid-19/vaccin',
            type: 'get',
            headers: {
                Authorization: "Covid-19 " + getACCESS_TOKEN()
            },
            success: function (data) {
                $('#slVaccin').empty();
                data.vc.forEach(v => {
                    let opt = '<option value="' + v._id + '">' + v.name + '</option>';
                    $('#slVaccin').append(opt);
                });
            }
        })
    }

    $('#btnSubmitCV').click(function(){
        let vaccin = $('#slVaccin option:selected').text();
        let no = $('#txtNo').val();
        $.ajax({
            url:'/danh-sach-tiem-phong-covid-19/set-vaccin',
            type:'put',           
            headers: {
                Authorization: "Covid-19 " + getACCESS_TOKEN()
            },
            data:{cvId,vaccin,no},
            success:function(data){
                alert(data.msg);
                $('#modalSetVaccination').modal('hide');
            }
        })
    })
</script>