<footer id="footer" class="bg-secondary">
    <h2 class="text-center mt-20 mb-20 font-weight-bold text-warning">TRUNG TÂM Y TẾ HUYỆN CHƯ SÊ</h2>
</footer>

<style>
  #footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
</style>


<script src="/dist/bootstrap/bootstrap.min.js"></script>
