<head>

    <meta charset="UTF-8">

    <meta name="robots" content="index,follow">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="format-detection" content="telephone=no">

    <meta name="title" content="DỮ LIỆU TIÊM CHỦNG PHÒNG COVID-19">

    <meta name="description" content="Homepage">

    <meta name="keywords" content="BAMBOOPHOTO-real-estate-editing-service-video-floor plan-photo-redeawing-floor-plan">

    <meta property="og:locale" content="en_US">

    <meta property="og:type" content="website">

    <meta property="og:title" content="DỮ LIỆU TIÊM CHỦNG PHÒNG COVID-19">

    <meta property="og:description" content="Homepage">

    <meta property="og:url" content="http://ttytchuse.com/">

    <meta property="og:site_name" content="http://ttytchuse.com/">

    <meta property="og:image" content="http://ttytchuse.com/">

    <meta property="og:image:alt" content="DỮ LIỆU TIÊM CHỦNG PHÒNG COVID-19">

    <meta name="twitter:card" content="summary">

    <meta name="twitter:title" content="DỮ LIỆU TIÊM CHỦNG PHÒNG COVID-19">

    <meta name="twitter:domain" content="http://ttytchuse.com/">

    <meta name="twitter:description" content="Homepage">

    <meta name="twitter:image" content="http://ttytchuse.com/">

    <meta name="generator" content="Design by ReDo">

    <meta name="author" content="Design by ReDo">

    <meta name="copyright" content="Design by ReDo">

    <meta name="resource-type" content="Document">

    <meta name="distribution" content="Global">

    <meta name="revisit-after" content="1 days">

    <title>DỮ LIỆU TIÊM CHỦNG PHÒNG COVID-19</title>

    <link rel="canonical" href="http://ttytchuse.com/">

    <link rel="icon" href="/uploads/images/favicon.png" type="image/x-icon">

    <link rel="shortcut icon" href="/uploads/images/favicon.png" type="image/x-icon">




    <link href="/dist/font-awesome/font-awesome.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="/dist/bootstrap/bootstrap.min.css">

    <link rel="stylesheet" href="/css/jquery.mmenu.css">

    <link rel="stylesheet" href="/css/owl.carousel.min.css">

    <link rel="stylesheet" href="/css/style.css">

    <link rel="stylesheet" href="/css/custom.css">



    <script src="/js/jquery.min.js"></script>

    <script>
        var csrfName = 'ci_csrf_token';

        var csrfHash = '';
    </script>
</head>