<nav class="navbar navbar-expand-md navbar-dark" id="navbar">
  <div class="container">
    <a href="/" class="navbar-brand" style="font-size: 1.6rem">
      <img src="/images/GUI/logo.png" id="logo" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
      <ul class="navbar-nav justify-content-end" id="top-menu">
        <li class="position-relative">
          <a href="/" class="nav-link">Trang chủ</a>
        </li>
        <li class="position-relative" id="mod_mngr">
          <a href="/account" class="nav-link">Tài khoản</a>
        </li>
        <li class="position-relative" id="ev_list">
          <a href="/danh-sach-tiem-phong-covid-19" class="nav-link">Hồ sơ</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link text-warning" id="btnLogin">Đăng nhập</a>
          <a href="#" class="nav-link text-danger" id="btnLogout">Đăng xuất</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="modal" tabindex="-1" role="dialog" id="modalLogin">
  <div class="modal-dialog" role="document">
    <div class="modal-content card text-white bg-info mb-3">
      <div class="modal-header card-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body container card-body bt-white">
        <div class="form-group">
          <label for="">Tài khoản:</label>
          <input type="text" name="" id="txtUsername" class="form-control">
        </div>

        <div class="form-group">
          <label for="">Mật khẩu:</label>
          <input type="password" name="" id="txtPassword" class="form-control">
        </div>
        <div id="login_message">
          <label class="text-danger font-weight-bold" id="error_message"></label>
        </div>
        <div class="form-group text-center">
          <button class="btn btn-info border border-light" id="btnSubmitLogin">Đăng nhập</button>
          <button class="btn btn-secondary ml-10  border border-light" id="btnCancel">Hủy</button>
        </div>
      </div>


    </div>
  </div>
</div>

<script src="../../js/common.js"></script>

<script>
  $(document).ready(function () {
    $('#login_message').hide();
    $('#mod_mngr').hide();
  })
  $('#btnLogin').click(function (e) {
    e.preventDefault();
    $('#modalLogin').modal();
  })

  $('#btnSubmitLogin').click(function () {
    let username = $('#txtUsername').val().trim();
    let password = $('#txtPassword').val().trim();
    if (username.length == 0 || password.length == 0) {
      alert('Vui lòng nhập đầy đủ tài khoản và mật khẩu');
      return;
    }
    $.ajax({
      url: '/account/login',
      type: 'post',
      data: {
        username,
        password
      },
      success: function (data) {
        localStorage.setItem("ACCESS_TOKEN", data.access_token);
        let baseUrl = getBaseUrl();
        $(location).attr('href', baseUrl + '/danh-sach-tiem-phong-covid-19');
      }, error: function (XMLHttpRequest, textStatus, errorThrown) {
        $('#login_message').show();
        $('#error_message').text(XMLHttpRequest.responseJSON.msg);
        $('#login_message').hide(5000);
      },
    })
  })

  $('#btnLogout').click(function (e) {
    localStorage.clear();
    alert('Đăng xuất thành công!!')
    let baseUrl = getBaseUrl();
    $(location).attr('href', baseUrl + '/');

  })
</script>

<style>
  #logo {
    width: 70px;
    height: 70px;
  }

  #navbar {
    background-color: var(--base-color);
  }

  a,
  a:hover,
  .nav-item a,
  .nav-item a:hover {
    color: #fff;
  }

  .navbar {
    padding: 0 2rem 0 3rem;
    position: fixed !important;
    top: 0;
    z-index: 100;
    width: 100vw;
    /* margin-bottom: 100px;   
    position:absolute; */
    opacity: 80%;
  }

  nav a {
    letter-spacing: 0.3rem;
    font-size: 0.8rem;
  }

  nav .dropdown-menu {
    left: -6rem;
    top: 2.7rem;
  }

  nav .dropdown-menu a:hover {
    color: #fff;
    background-color: var(--primary-color);
  }

  nav li {
    margin: 0 0.7rem;
  }

  @media (max-width: 767px) {
    .navbar-nav li:nth-last-of-type(1) {
      padding-bottom: 1rem;
    }

    nav .dropdown-menu {
      left: 0rem;
      top: 2.7rem;
    }
  }
</style>