<div class="row">
    <div class="col-sm-2">
        <input type="text" placeholder="Mã csyt" id="txtHFCode" class="form-control">
    </div>
    <div class="col-sm-8">
        <input type="text" placeholder="Tên cơ sở y tế" id="txtHFName" class="form-control">
    </div>
    <div class="col-sm-2">
        <button class="btn btn-success" id="btnAddNew">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Create
        </button>
    </div>
</div>

<table class="table table-dark mt-2">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Mã CSYT</th>
            <th scope="col">Tên CSYT</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody id="tblContent"></tbody>
</table>

<script>
    $(document).ready(function () {
        LoadHealthFacilities();
    })
    $(document).on("click", "button[name='delete']", function () {
        let hfId = $(this).closest("tr").attr("id");
        let hfName = $(this).closest("tr").data("name");
        var r = confirm(
            "Bạn thực sự muốn xóa csyt " + hfName + "?"
        );
        if (r) {
            $.ajax({
                url: '/admin/csyt',
                type: 'delete',
                headers: {
                    Authorization: "Covid-19 " + getACCESS_TOKEN()
                },
                data: {
                    hfId
                },
                success: function (data) {
                    alert(data.msg);
                    LoadHealthFacilities();
                }, error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseJSON.msg);
                },
            })
        }
    })

    $('#btnAddNew').click(function () {
        let code = $('#txtHFCode').val().trim();
        let name = $('#txtHFName').val().trim();
        if (code.length == 0 || name.length == 0) {
            alert('Vui lòng nhập đầy đủ mã và tên của CSYT!!');
            return;
        }

        $.ajax({
            url: '/admin/csyt',
            type: 'post',
            headers: {
                Authorization: "Covid-19 " + getACCESS_TOKEN()
            },
            data: {
                code,
                name
            },
            success: function (data) {
                alert(data.msg);
                LoadHealthFacilities();
                $('#txtHFCode').val('');
                $('#txtHFName').val('');
            }, error: function (jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseJSON.msg);
            },
        })
    })

    function LoadHealthFacilities() {
        $.ajax({
            url: '/admin/csyt/list',
            type: 'get',
            headers: {
                Authorization: "Covid-19 " + getACCESS_TOKEN()
            },
            success: function (data) {
                $('#tblContent').empty();
                let idx = 1;
                data.hf.forEach(h => {
                    let tr = '<tr id = "' + h._id + '" data-name="' + h.name + '">';
                    tr += '<td>' + (idx++) + '</td>';
                    tr += '<td>' + h.code + '</td>';
                    tr += '<td class="font-weight-bold text-info">' + h.name + '</td>';
                    tr += '<td class="text-right">';
                    tr += '<button  name = "delete" class = "btn btn-sm btn-danger ml-2"><i class="fa fa-trash" aria-hidden="true"></i></button>';
                    tr += '</td>';
                    tr += '</tr>';
                    $('#tblContent').append(tr);
                })
            }, error: function (jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseJSON.msg);
            },
        })
    }
</script>